/*CSS for page resume-page1*/
*resume css
  */

.resume-page-background {
  background-color: #87CEFA;
}
#resume-template{
  width: 70%;
  margin: 0 auto 5% auto;
  padding: 1% 1% 1% 1%;
  background-color: #F5FFFA;
}